@import url(https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Inter google font is used */
  font-family: "Inter";
  font-style: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #23252c;

  /* center the root container */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}
